body {
    background-color: black;
    color: rgb(110, 186, 85);
    text-align: center
    font-family: 'Courier New', Courier, monospace;
  }

  h1 {
    color: rgb(110, 186, 85);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
  }

  h2 {
    color: rgb(110, 186, 85);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  h4 {
    color: rgb(110, 186, 85);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }

  p {
    color: rgb(110, 186, 85);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }

img {
  align-items: center;
  size: 300px;
}
.btn-group button{
  background-color: #5fe86f; /* Green background */
    border: 1px solid rgb(83, 190, 83); /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: 'Courier New', Courier, monospace;
}

.btn-group {
    width: 100%;
    text-align: center;
}
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
    
  }

  .progress-bar-container {
    width: 500px;
    height: 20px;
    background-color: #ddd;
    margin: auto;
  
  }
  .progress-bar {
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
    transition: width 0.3s ease-in-out;
   
  
  }