body {
    background-color: black;
    color: rgb(110, 186, 85);
  }

  h1 {color: rgb(110, 186, 85);}

  h2 {color: rgb(110, 186, 85);}

.btn-group button {
    background-color: #5fe86f; /* Green background */
    border: 1px solid rgb(83, 190, 83); /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }